
@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

@section StyleSection
{
    
}

@section MetaSection
{
    <meta name="description" content="Read in-depth examples of how Syncfusion has helped customers achieve their project goals with Essential Studio components and frameworks and enterprise business intelligence solutions." />
}



@section MainSection
{
    <div id="videos-home">

    </div>

}



