@model SyncfusionVideosPortal.Entity.Hackathon_Videos
@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    var DisplayName = ViewBag.PlatformName;
}
@section StyleSection
{ <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DetailsPage.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
}
@section MetaSection
{
    <meta name="description" content="Read in-depth examples of how Syncfusion has helped customers achieve their project goals with Essential Studio components and frameworks and enterprise business intelligence solutions." />
}

@section MainSection
{
    @Html.Hidden("video-id", Model.VideoId)
    @Html.Hidden("slug", Model.SlugTitle)

    <nav id="menu2" class="home bar bar-2 hidden-xs bar--absolute bar--transparent" style="position: relative;background-color: #7a7adb;background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-left-sm hidden-xs">
                    <div class="bar__module video-logo">
                        <p>
                            <a class="videos-logo" href="/">
                                <img class="logo logo-light" alt="logo" src="/img/logo-videos.png">
                            </a>
                            <a class="heading-menu" href="/">
                                Videos Portal
                            </a>
                            | 
                            <a class="heading-menu" href="/videos/@Model.platformshortname">
                                @DisplayName
                            </a>
                        </p>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-2 col-md-pull-2">

                    <!--end module-->
                </div>
                <div class="col-md-5 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <a class="btn btn--sm type--uppercase" href="#">
                            <span class="btn__text">
                                Sign In
                            </span>
                        </a>

                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>

    <div class="VideoDetailsPage">
        <div class="container">
            <div class="row">
                <h2>@Model.Title.ToUpper()</h2>
            </div>
            <div class="row">
                <div class="Embed Embed--16by9 -mb2 col-md-8" id="video-player">
                    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/@(Model.VideoLink)?autoplay=1&rel=0&enablejsapi=1" frameborder="0" allowfullscreen="" id="widget2"></iframe>*@
                    <iframe width="560" height="500" src="https://www.youtube.com/embed/oMf64n9H4Fg?autoplay=1&rel=0&enablejsapi=1" allowfullscreen="allowfullscreen" id="video-player-iframe"></iframe>
                </div>

            </div>
        </div>
    </div>


}

@section ScriptSection{

    @*Youtube video player functions.*@
    <script type="text/javascript">

        $(document).ready(function () {
            $("#video-player-iframe").prop("width", document.getElementById("video-player-iframe").offsetHeight * 16 / 9);
        });


    </script>
    <script src="~/js/scripts.js"></script>
}