<div class="menu-with-search">
    <div class="syncfusion-menu">
        <nav class="navbar-inverse navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="free-trail-section hidden-lg hidden-xs">
                    <a class="menu-item btn btn--primary" href="/downloads">FREE TRIAL</a>
                </div>
                
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>  
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse syncfusion-menu-items" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav menu-list">
                    <li class="dropdown sub-menu-list products">
                        <a href="#" class="menu-item dropdown-toggle" data-text="PRODUCTS" data-toggle="dropdown">PRODUCTS <span class="syncfusionlayout-down-arow"></span></a>
                        <div class="sub-menu-container dropdown-menu ">
                            <div class="container menu-container">
                                <div class="row product-submenu">
                                    <div class="col-lg-2 studio-section">
                                        <ul class="multi-column-dropdown">
                                            <li class="sub-menu-item  essentialstudio-section"><a class="demo-link" href="/demos"><span class="btn__text">VIEW DEMO</span></a></li>
                                            <li class="sub-menu-item  essentialstudio-section"><a class="whats-new" href="/products/whatsnew"><span class="btn__text">WHAT'S NEW</span></a></li>
                                            <li class="sub-menu-item  essentialstudio-section hidden-lg hidden-md hidden-sm"><a class="free-trail" href="/downloads"><span class="btn__text">FREE TRIAL</span></a></li>
                                            <li class="sub-menu-item  essentialstudio-section hidden-xs"><a class="free-trail" href="/downloads"><span class="btn__text">FREE TRIAL</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8 sub-menu-segment-border">
                                        <div class="row">
                                            <div class="sub-menu-title component-title">Developer Platform <a href="/products/essential-studio">Overview</a></div>
                                            <div class="col-lg-3">
                                               
                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">WEB - Pure JavaScript</li>
                                                    <li class="sub-menu-item"><a href="/aspnet-core-ui-controls">ASP.NET Core </a></li>
                                                    <li class="sub-menu-item"><a href="/aspnet-mvc-ui-controls">ASP.NET MVC </a></li>
                                                    <li class="sub-menu-item"><a href="/angular-ui-components">Angular </a></li>
                                                    <li class="sub-menu-item"><a href="/react-ui-components">React</a></li>
                                                    <li class="sub-menu-item"><a href="/vue-ui-components">Vue</a></li>
                                                    <li class="sub-menu-item"><a href="/javascript-ui-controls">JavaScript</a></li>
                                                </ul>
                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">WEB - jQuery Based</li>
                                                    <li class="sub-menu-item"><a href="/jquery/aspnet-mvc-ui-controls">ASP.NET MVC </a></li>
                                                    <li class="sub-menu-item"><a href="/jquery/aspnet-core-ui-controls">ASP.NET Core </a></li>
                                                    <li class="sub-menu-item"><a href="/jquery/aspnet-web-forms-ui-controls">ASP.NET Web Forms</a></li>
                                                    <li class="sub-menu-item"><a href="/jquery/javascript-ui-controls">JavaScript</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-3">

                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">MOBILE</li>
                                                    <li class="sub-menu-item"><a href="/xamarin-ui-controls">Xamarin</a></li>
                                                    <li class="sub-menu-item"><a href="/uwp-ui-controls">UWP</a></li>
                                                    <li class="sub-menu-item"><a href="/javascript-ui-controls">JavaScript</a></li>
                                                </ul>
                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">DATA SCIENCE</li>
                                                    <li class="sub-menu-item"><a href="/products/data-science/predictive-analytics">Predictive Analytics</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">DESKTOP</li>
                                                    <li class="sub-menu-item"><a href="/winforms-ui-controls">WinForms</a></li>
                                                    <li class="sub-menu-item"><a href="/wpf-ui-controls">WPF</a></li>
                                                    <li class="sub-menu-item"><a href="/uwp-ui-controls">UWP</a></li>
                                                </ul>
                                                
                                            </div>
                                            <div class="col-lg-3">
                                                <ul class="multi-column-dropdown">
                                                    <li class="sub-menu-title">FILE FORMATS</li>
                                                    <li class="sub-menu-item"><a href="/excel-framework/net">Excel </a></li>
                                                    <li class="sub-menu-item"><a href="/pdf-framework/net">PDF</a></li>
                                                    <li class="sub-menu-item"><a href="/word-framework/net">Word</a></li>
                                                    <li class="sub-menu-item"><a href="/powerpoint-framework/net">PowerPoint</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-2 sub-menu-segment enterprise-section">
                                        <ul class="multi-column-dropdown">
                                            <li class="sub-menu-title main-title">Data Platform</li>
                                            <li class="sub-menu-item"><a href="/products/dashboard">Dashboard Platform</a></li>
                                            <li class="sub-menu-item"><a href="/reporting-tool">Report Platform</a></li>
                                            <li class="sub-menu-item"><a href="/products/big-data">Big Data Platform</a></li>
                                            <li class="sub-menu-item"><a href="/products/data-integration">Data Integration Platform</a></li>

                                        </ul>
                                        <ul class="multi-column-dropdown">
                                            <li class="sub-menu-title main-title">Free Products</li>
                                            <li class="sub-menu-item"><a href="/ebooks">Ebooks</a></li>
                                            <li class="sub-menu-item"><a href="/downloads/metrostudio">Metro Studio</a></li>
                                        </ul>
                                    </div>
                                    @*<div class="col-lg-2 sub-menu-segment-border1">
                                        <ul class="multi-column-dropdown">
                                            <li class="sub-menu-title sub-title main-title">RESOURCES</li>
                                            <li class="sub-menu-item"><a href="/ebooks">EBooks</a></li>
                                            <li class="sub-menu-item"><a href="/resources/techportal/whitepapers">White Papers</a></li>
                                            <li class="sub-menu-item"><a href="/faq">.NET FAQ</a></li>
                                            <li class="sub-menu-title sub-title">FREE ICONS</li>
                                            <li class="sub-menu-item"><a href="/downloads/metrostudio">Metro Studio</a></li>
                                        </ul>
                                    </div>*@
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="sub-menu-list"> <a class="menu-item" href="/products/consulting" data-text="CONSULTING" >CONSULTING</a></li>
                    <li class="support-menu dropdown sub-menu-list">
                        <a href="#" class="menu-item dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-text="LEARNING & SUPPORT" >LEARNING & SUPPORT<span class="syncfusionlayout-down-arow"></span></a>
                        <div class="support-menu-container dropdown-menu" role="menu">
                            <div class="support-contents row">
                                <div class="col-lg-4 col-md-12 col-xs-12">
                                    <ul>
                                        <li class="support-heading">LEARNING</li>
                                        <li class="sub-menu-item"><a href="/demos">Demos</a></li>
                                        <li class="sub-menu-item"><a href="https://blog.syncfusion.com">Blog</a></li> 
                                        <li class="sub-menu-item"><a href="https://help.syncfusion.com/">Documentation</a></li>
                                        <li class="sub-menu-item"><a href="/products/whatsnew">What’s New</a></li>
                                        <li class="sub-menu-item"><a href="/products/roadmap">Road Map</a></li>
                                        <li class="sub-menu-item"><a href="/products/release-history">Release History</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-12  col-xs-12">
                                    <ul>
                                        <li class="support-heading">RESOURCES</li>
                                        <li class="sub-menu-item"><a href="/ebooks">Ebooks</a></li>
                                        <li class="sub-menu-item"><a href="/kb">Knowledge Base</a></li>
                                        <li class="sub-menu-item"><a href="/resources/techportal/whitepapers">Whitepapers</a></li>
                                        <li class="sub-menu-item"><a href="/company/case-studies">Case Studies</a></li>
                                        <li class="sub-menu-item"><a href="/faq">.NET FAQ</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-12  col-xs-12">
                                    <ul>
                                        <li class="support-heading">SUPPORT</li>
                                        <li class="sub-menu-item"><a href="/forums">Community Forum</a></li>
                                        <li class="sub-menu-item"><a href="/support/directtrac/incidents/newincident">Contact Support</a></li>                                      
                                        <li class="sub-menu-item"><a href="/feedback">Features & Bugs</a></li>
                                        <li class="sub-menu-item"><a href="/support/product-lifecycle">Product Life Cycle</a></li>
                                    </ul>
                                </div>
                            </div>                    
                        </div>
  
                    </li>
                    <li class="sub-menu-list"> <a class="menu-item" href="/sales/products" data-text="PRICING">PRICING</a></li>
                    <li class="company-menu dropdown sub-menu-list">
                        <a href="#" class="menu-item dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-text="COMPANY">COMPANY <span class="syncfusionlayout-down-arow"></span></a>
                        <ul class="company-menu-container dropdown-menu" role="menu">
                            <li class="sub-menu-item"><a href="/company/about-us">About Us</a></li> 
                            <li class="sub-menu-item"><a href="/company/about-us/customerlist">Customers</a></li> 
                            <li class="sub-menu-item"><a href="https://blog.syncfusion.com">Blog</a></li>
                            <li class="sub-menu-item"><a href="/company/news-press-release">Press Releases</a></li>
                            @*<li class="sub-menu-item"><a href="/company/case-studies">Case Studies</a></li>*@
                            <li class="sub-menu-item"><a href="/company/careers">Careers</a></li>
                            <li class="sub-menu-item"><a href="/company/partners">Partners</a></li>
                            <li class="sub-menu-item"><a href="/company/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu-list free-trail-button hidden-md hidden-sm hidden-xs">  <a class="menu-item btn btn--primary" href="/downloads"><span class="btn__text">FREE TRIAL</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>
</div>

