<div id="footer-warpper" class="segment">
    <div class="container">
                <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                    <div class="top-content content-medium">PRODUCTS</div>
                        <ul class="list-unstyled">
                                    <li class="content-small"><a href="/products/essential-studio"> Developer Platform</a></li>
                                    <li class="content-small"><a href="/products/dashboard"> Dashboard Platform</a></li>
                                    <li class="content-small"><a href="/products/big-data"> Big Data Platform</a></li>
                                    <li class="content-small"><a href="/reporting-tool">Report Platform </a></li>
                                    <li class="content-small"><a href="/products/data-integration">Data Integration Platform</a></li>
                        </ul>
                </div>
                <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                    <div class="top-content content-medium">EXPLORE OUR PRODUCTS</div>
                        <ul class="list-unstyled">
                                    <li class="content-small"><a href="/downloads">Free Trial</a></li>
                                    <li class="content-small"><a href="/sales/products">Pricing</a></li>
                        </ul>
                </div>
                <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                    <div class="top-content content-medium">RESOURCES</div>
                        <ul class="list-unstyled">
                                    <li class="content-small"><a href="/ebooks">Ebooks</a></li>
                                    <li class="content-small"><a href="/kb">Knowledge Base</a></li>
                                    <li class="content-small"><a href="/resources/techportal/whitepapers">Whitepapers</a></li>
                                    <li class="content-small"><a href="/company/case-studies">Case Studies</a></li>
                                    <li class="content-small"><a href="/faq">.NET FAQ</a></li>
                        </ul>
                </div>
                <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                    <div class="top-content content-medium">LEARNING &amp; SUPPORT</div>
                        <ul class="list-unstyled">
                                    <li class="content-small"><a href="/demos">Demos</a></li>
                                    <li class="content-small"><a href="https://blog.syncfusion.com">Blog</a></li>
                                    <li class="content-small"><a href="https://help.syncfusion.com/" target="_blank">Documentation</a></li>
                                    <li class="content-small"><a href="/forums">Community Forum</a></li>
                                    <li class="content-small"><a href="/support/directtrac/incidents/newincident">Contact Support</a></li>
                                    <li class="content-small"><a href="/feedback" target="_blank">Features &amp; Bugs</a></li>
                        </ul>
                </div>
                <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                    <div class="top-content content-medium">COMPANY</div>
                        <ul class="list-unstyled">
                                    <li class="content-small"><a href="/company/about-us">About Us</a></li>
                                    <li class="content-small"><a href="/company/about-us/customerlist">Customers</a></li>
                                    <li class="content-small"><a href="https://blog.syncfusion.com">Blog</a></li>
                                    <li class="content-small"><a href="/company/news-press-release">News &amp; Events</a></li>
                                    <li class="content-small"><a href="/company/careers">Careers</a></li>
                                    <li class="content-small"><a href="/company/partners">Partners</a></li>
                        </ul>
                </div>
    </div>
</div>