body #menu2.home {
  float: left; }

body #menu2 .video-logo img {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
  padding: 0; }

body #menu2 .video-logo .videos-logo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: cursive; }

body #menu2 .video-logo .heading-menu {
  position: relative;
  top: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: cursive; }

body #home-banner h2 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 3em;
  font-weight: 400; }

body #category-list h2 {
  color: #1a1a1a;
  font-size: 3em;
  font-weight: 500;
  margin-top: 1em; }

body #main-heading h2 {
  color: #1a1a1a; }

body #platform-details {
  margin-top: 2em !important;
  margin-bottom: 2em !important; }


.card-1 .card__body img{
    box-shadow: 0 1px 15px -4px rgba(0,0,0,.3);
    width:100%;
}
.card-1 .card__body img:hover{
    box-shadow: 0 12px 50px -15px rgba(0,0,0,.5);
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
}
.card-1 .card__body p{
    font-size: 14px;
}
.card__action a:not(:hover) {
    opacity: 1;
}
.card__action a i {
    color: #666666;
}
.card__avatar strong{
    font-weight: 700;
    color: #333;
    font-size: 16px;
}
h1{
    text-align: center;
    font-weight: 400;
    font-family: "open sans";
    font-size: 32px;
}
h4{
    font-family: "open sans";
    font-size: 32px;
}
#top-videos{
    padding: 4em;
    background-color: #f7f7f7;
}