body {
    #menu2.home {
        float: left;
    }
    #menu2 {
        .video-logo {
            img {
                position: relative;
    left: 0;
    top: 0;
    transform: none;
    padding: 0;
            }
            .videos-logo {
                color: #fff;  
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
                font-family: cursive;
            }
            .heading-menu {
                position: relative;
                top: 3px;
                color: #fff;  
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
                font-family: cursive;
            }
        }
    }

    // Home banner 
    #home-banner {
        h2 {
            margin-bottom: 10px;
    margin-top: 15px;
    font-size: 3em;
    font-weight: 400;
        }
    }
    // #category-list {
    //     h2 {
    //         color: #fff;
    //         font-weight: 500;
    //         margin-top: 1.5em;
    //         font-size: 2.6em;
    //     }
    //     background-color: #181818;
    //     color: #fff;
    //     .flickty_section {
    //         padding: 3em 0;
    //     }
    // }

    #category-list {
        h2 {
            color: #1a1a1a;
        font-size: 3em;
    font-weight: 500;
    margin-top: 1em;
        }

    }

    #main-heading {
        h2 {
            color: #1a1a1a;
        }
    }

    #platform-details {
        margin-top: 2em !important;
        margin-bottom: 2em !important;
    }
}
